# Advanced Dataframes

What is advanced dataframes? 
- Part 1: how to create dataframes
- Part 2: manipulate the dataframes
- Part 3: transform the dataframes

Why do we care? 
- Now that we understand more about what a dataframe is, these tools will allow us to wrangle our dataframes to get the data we need!

## Part 1 - Creating Dataframes
- from lists
- from dictionaries
- from sql

In [ ]:
#standard imports

FORMAT: `pd.DataFrame(data)`

## From lists

In [ ]:
#build a list

In [ ]:
#convert to df

In [ ]:
#build a matrix (list of lists)

In [ ]:
#convert to df

In [ ]:
#define column names

In [ ]:
#define column names when creating df

In [ ]:
#make the matrix an array

In [ ]:
#convert to df

## From dictionaries

In [ ]:
#create a dictionary with a list as keys
#dictionary format: {key:value}
new_dt = {'A':[1,2,3], 'B':[777,234,33], 'C':[42,42,42]}
new_dt

In [ ]:
#create df!

#### make it more complex

In [ ]:
#set random seed

In [ ]:
# Create list of values for names column
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

In [ ]:
# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.
math_grades = np.random.randint(low=60, high=100, size=len(students))

english_grades = np.random.randint(low=60, high=100, size=len(students))

reading_grades = np.random.randint(low=60, high=100, size=len(students))

In [ ]:
# Randomly generate if a student is in classroom A or classroom B
classroom = np.random.choice(['A', 'B'], len(students))

In [ ]:
#combine all values into a dictionary

In [ ]:
#create df!

## From SQL

We can connect to sql to create a dataframe!! yay!

### Process

0. install driver (only need to do this one time on your computer)
1. create a connection string with server credentials
2. use connection string to connect to SQL via python and pull in results

---

### 0. install driver (only need to do this one time on your computer)

To do this we will use a driver to connect the database to our python code using pymysql driver packages

<div class="alert alert-block alert-info">
    Type this in the command line
    
    python -m pip install pymysql
</div>

### 1. create a connection string with server credentials

Now that this is installed, we will create a **CONNECTION STRING**

This is a what a **CONNECTION STRING** looks like:

`[protocol]://[user]:[password]@[host]/[database_name]`

Example:

- protocol = 'mysql+pymysql'
- user = 'codeup'
- password = 'p@assw0rd'
- host = '123.123.123.123'
- database_name = 'some_db'

In [ ]:
#example

- This **CONNECTION STRING** is unique to this example user
- You will each make a unique **CONNECTION STRING** with your credentials

<div class="alert alert-block alert-warning">
    Do you see any issues with typing your username and password in your .py or .ipynb?
</div>

How to avoid this?

1. Create a separate file called `env.py`
2. Enter in your credentials
3. Ensure your `env.py` is in the same folder as your working file
4. Import your `env.py`
5. Create your connection string from imported variables

#### SAMPLE ENV

    host = '123.123.123'
    user = 'bayes_1023'
    password = 'tHl5!ls#r4N0oM'

<div class="alert alert-block alert-warning">
    Should you push your env.py file to github?
</div>

In [ ]:
#get my credentials

In [ ]:
#pull in the hostname

In [ ]:
#pull in the username

In [ ]:
#pull in the password

<div class="alert alert-block alert-warning">
    Should you leave your username and password printed out on your .ipynb?
</div>

lets create our **CONNECTION STRING** saved into a variable called url

In [ ]:
#create connection string

In [ ]:
# url

<div class="alert alert-block alert-warning">
    Should you print out on your connection string?
</div>

### 2. use connection string to connect to SQL via python

Now that we have created our **CONNECTION STRING**, we can connect to SQL

#### Let's connect to the employees database and pull the first 5 rows

FORMAT: `pd.read_sql('literal sql syntax to pull query', connection_string)`

In [ ]:
#url

<div class="alert alert-block alert-warning">
    Do you notice any issues with my current connection string?
</div>

In [ ]:
#connect to sql and pull query into df

#### I like my sql querys formatted with line breaks

In [ ]:
#write our query with three quotes opening and closing

#### Let's make a bigger query:

- I want a dataframe with emp_no, first_name, last_name, and dept_name
- I want it only for women and their current department
- Only pull back the first 10 employees

In [ ]:
#query

In [ ]:
#connect to sql and pull query into df

<div class="alert alert-block alert-info">
    <b>Important Recap Dos</b>

I will put my credentials in an `env` file.
    
I will put `env.py` in my .gitignore.
 
</div>

<div class="alert alert-block alert-danger">
    <b>Important Recap Don'ts</b>

I will not push my password to GitHub.

I will not type my password in my code editor.     
    
I will not print out my password variable.
    
I will not print out my CONNECTION STRING which contains my password. 
    
I will not push my `env` file to GitHub.
 
</div>

Note: your personal username and password are saved in the google classroom under MySQL Server Credentials