Explore the actual interview questions students are reporting back after their interviews.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_excel("student_interview_reports.xlsx")

In [3]:
df.describe()

<ipython-input-3-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,first_name,last_name,email,cohort,program,interview_date,company_name,interviewer,interview_setting,interview_number,interview_type,interview_questions,next_steps,form_completed_date,position_title
count,799,799,799,799,799,799,799,780,799,799,799,799,797,799,798
unique,203,230,257,26,2,330,337,609,4,6,4,781,762,799,283
top,David,Jones,mary.a.white28@gmail.com,Hopper,DS,2021-11-18 00:00:00,CGI,Caitlyn R. Carney,Virtual,First interview,Combination of both,Unknown,Unknown,2021-09-13 11:47:46 AM,Unknown
freq,26,19,15,81,419,10,53,10,603,248,344,11,9,1,181
first,NaN,NaN,NaN,NaN,NaN,2020-01-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2023-07-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[df.program=='DS']

In [7]:
df.interview_questions

4      She asked me about my experience at Codeup and...
5      Things I was not familiar with that he asked a...
6       - Tell me about yourself.\n- Describe your ex...
7      What interests you about data science?\nWhat i...
8      Tell me about yourself.\nExplain to me the day...
                             ...
773                   Experience with SQL and presenting
774    What is your experience with SQL like? What is...
775    Tell me about specific (superstore) project._x...
781    How to join to separate dataframes? How would ...
783    Tell me about yourself._x000D_\nConfirming sal...
Name: interview_questions, Length: 419, dtype: object

In [6]:
df.position_title.value_counts()

Unknown                                         94
Data Scientist                                  30
Data Engineer                                   29
Data Analyst                                    29
Business Analyst                                14
                                                ..
Data engineer                                    1
Machine Learning - Environmental Science Lab     1
Data & Production Analyst                        1
Data Enin                                        1
Merchandising Analyst                            1
Name: position_title, Length: 133, dtype: int64