In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("SA311_2018.csv")
df2 = pd.read_csv("SA311_2017.csv")
df = df1.append(df2)

In [3]:
df = df.drop(columns=['CASEREF', 'CLIENTID', 'SUBJECTNAME', 'XCOORD','YCOORD',
                      ' interactiondate','ALLOCATEDTODEPTID', 'Report Starting Date',
                      'Report Ending Date', 'Select Dept?'])

df.columns.values

array(['CASEID', 'OPENEDDATETIME', 'CLOSEDDATETIME', 'SLA_Date',
       'Subject To SLA', 'Late (Yes/No)', 'LATEDAYS', 'Closed (Yes/No)',
       'Dept', 'REASONNAME', 'TYPENAME', 'SLADays', 'CaseStatus',
       'SOURCEID', 'SOURCEUSERID', 'OBJECTDESC', 'Council District',
       'Dept (to)'], dtype=object)

In [4]:
df = df.rename(index=str, columns={'CASEID': 'case_id', 'OPENEDDATETIME': 'case_opened_date',
                                   'CLOSEDDATETIME': 'case_closed_date', 
                                   'SLA_Date': 'SLA_due_date',
                                   'Subject To SLA': 'dept_subject_to_SLA', 
                                   'Late (Yes/No)': 'case_late',
                                   'LATEDAYS': 'num_days_late', 'Closed (Yes/No)': 'case_closed',
                                   'Dept': 'dept_name', 'REASONNAME': 'dept_division',
                                   'TYPENAME': 'service_request_type',
                                   'SLADays': 'SLA_days', 'CaseStatus': 'case_status',
                                   'SOURCEID': 'source_id', 'SOURCEUSERID': 'source_username',
                                   'OBJECTDESC': 'request_address',
                                   'Council District': 'council_district',
                                   'Dept (to)': 'standardized_dept_name'
                             })

In [5]:
source311 = df[['source_id','source_username']].drop_duplicates() \
            .sort_values(by=['source_id','source_username']) \
            .reset_index() \
            .drop(columns='index')

dept311 = df[['dept_division','dept_name','standardized_dept_name',
             'dept_subject_to_SLA']].drop_duplicates() \
            .sort_values(by=['dept_division','dept_name','standardized_dept_name']) \
            .reset_index() \
            .drop(columns='index')

case311 = df.drop(columns = ['source_username', 'dept_name',
                             'standardized_dept_name', 'dept_subject_to_SLA'])

In [6]:
case311.head()

,case_id,case_opened_date,case_closed_date,SLA_due_date,case_late,num_days_late,case_closed,dept_division,service_request_type,SLA_days,case_status,source_id,request_address,council_district
0,1014127332,1/1/18 0:42,1/1/18 12:29,9/26/20 0:42,NO,-998.508762,YES,Field Operations,Stray Animal,999.000000,Closed,svcCRMLS,"2315 EL PASO ST, San Antonio, 78207",5
1,1014127333,1/1/18 0:46,1/3/18 8:11,1/5/18 8:30,NO,-2.012604,YES,Storm Water,Removal Of Obstruction,4.322222,Closed,svcCRMSS,"2215 GOLIAD RD, San Antonio, 78223",3
2,1014127334,1/1/18 0:48,1/2/18 7:57,1/5/18 8:30,NO,-3.022338,YES,Storm Water,Removal Of Obstruction,4.320729,Closed,svcCRMSS,"102 PALFREY ST W, San Antonio, 78223",3
3,1014127335,1/1/18 1:29,1/2/18 8:13,1/17/18 8:30,NO,-15.011481,YES,Code Enforcement,Front Or Side Yard Parking,16.291887,Closed,svcCRMSS,"114 LA GARDE ST, San Antonio, 78223",3
4,1014127336,1/1/18 1:34,1/1/18 13:29,1/1/18 4:34,YES,0.372164,YES,Field Operations,Animal Cruelty(Critical),0.125000,Closed,svcCRMSS,"734 CLEARVIEW DR, San Antonio, 78228",7

In [24]:
case311.isnull().sum()

case_id                     0
case_opened_date            0
case_closed_date        18110
SLA_due_date               33
case_late                   0
num_days_late              33
case_closed                 0
dept_division               0
service_request_type        0
SLA_days                   33
case_status                 0
source_id                   0
request_address             0
council_district            0
dtype: int64

In [32]:
case311.head()

,case_id,case_opened_date,case_closed_date,SLA_due_date,case_late,num_days_late,case_closed,dept_division,service_request_type,SLA_days,case_status,source_id,request_address,council_district
0,1014127332,1/1/18 0:42,1/1/18 12:29,9/26/20 0:42,NO,-998.508762,YES,Field Operations,Stray Animal,999.000000,Closed,svcCRMLS,"2315 EL PASO ST, San Antonio, 78207",5
1,1014127333,1/1/18 0:46,1/3/18 8:11,1/5/18 8:30,NO,-2.012604,YES,Storm Water,Removal Of Obstruction,4.322222,Closed,svcCRMSS,"2215 GOLIAD RD, San Antonio, 78223",3
2,1014127334,1/1/18 0:48,1/2/18 7:57,1/5/18 8:30,NO,-3.022338,YES,Storm Water,Removal Of Obstruction,4.320729,Closed,svcCRMSS,"102 PALFREY ST W, San Antonio, 78223",3
3,1014127335,1/1/18 1:29,1/2/18 8:13,1/17/18 8:30,NO,-15.011481,YES,Code Enforcement,Front Or Side Yard Parking,16.291887,Closed,svcCRMSS,"114 LA GARDE ST, San Antonio, 78223",3
4,1014127336,1/1/18 1:34,1/1/18 13:29,1/1/18 4:34,YES,0.372164,YES,Field Operations,Animal Cruelty(Critical),0.125000,Closed,svcCRMSS,"734 CLEARVIEW DR, San Antonio, 78228",7

In [144]:
source311.to_csv("/sa311/source.csv", index=False)

In [145]:
dept311.to_csv("/sa311/dept.csv", index=False)

In [146]:
case311.to_csv("/sa311/case.csv", index=False)