In [1]:
from io import StringIO
from subprocess import check_output
import pandas as pd
import numpy as np

In [2]:
def get_exercise_grades(cohort, project):
    raw_csv_data = check_output(f'python check_exercises.py -c {cohort} -p {project} --format csvdetail'.split())
    df = pd.read_csv(StringIO(raw_csv_data.decode()))
    return df

In [3]:
cohort = 'curie'
timestamp = pd.to_datetime('now').strftime('%Y%m%d%H%M%S')

db_exercises = get_exercise_grades(cohort, 'database-exercises')
python_exercises = get_exercise_grades(cohort, 'python-exercises')

db_exercises.to_csv(f'{cohort}-database-exercises-{timestamp}.csv')
python_exercises.to_csv(f'{cohort}-python-exercises-{timestamp}.csv')

In [4]:
db_exercises.groupby('file').present.mean().sort_values()

file
3.11_more_exercises.sql           0.764706
3.5.2_order_by_exercises.sql      0.764706
3.5.3_limit_exercises.sql         0.823529
3.5.1_where_exercises.sql         0.882353
3.7_group_by_exercises.sql        0.882353
3.1_mysql_introduction.sql        0.941176
3.3_tables_exercises.sql          0.941176
3.6_functions_exercises.sql       0.941176
3.8.2_join_exercises.sql          0.941176
3.4_select_exercises.sql          1.000000
3.8.3_subqueries_exercises.sql    1.000000
3.9_temporary_tables.sql          1.000000
Name: present, dtype: float64

In [5]:
python_exercises.groupby('file').present.mean().sort_values()

file
4.8.4.2_pandas_series                  0.000000
4.8.4.3_dataframes                     0.000000
4.8.4.4_advanced_dataframes            0.000000
4.8.5_seaborn_exercises.py             0.000000
4.8.3_numpy_exercises.py               0.058824
4.8.2_matplotlib_exercises             0.529412
4.7_working_with_files.py              0.764706
4.5_function_exercises.py              0.882353
4.1_python_introduction_exercises      0.941176
4.4_control_structures_exercises.py    0.941176
4.6_import_exercises.py                0.941176
Name: present, dtype: float64

In [6]:
python_grades = (python_exercises
 [~ python_exercises.file.str.startswith('4.8')]
 .groupby(['id', 'github_username', 'name'])
 .present
 .mean())
python_grades.name = 'python'

In [7]:
sql_grades = (db_exercises
 [~ db_exercises.file.str.startswith('3.11')]
 .groupby(['id', 'github_username', 'name'])
 .present
 .mean())
sql_grades.name = 'SQL'

In [8]:
pd.concat([sql_grades, python_grades], axis=1)

                                                    SQL  python
id  github_username     name
940 sunwenliang14       sunwenliang14          1.000000     1.0
941 noahmelngailis      Noah Melngailis        0.818182     0.8
942 guedanie            Daniel Guerrero        0.727273     1.0
943 chasethompson       Chase Thompson         1.000000     1.0
944 jivemachine         Jeremy  Cobb           0.909091     1.0
945 RaulCPena           Raul C. Pena           0.909091     1.0
946 shayaltshue         Shay Altshue           1.000000     1.0
948 ravinder79          Ravinder Singh         1.000000     0.8
949 RyanMcCall          Ryan McCall            0.909091     1.0
950 JadaShipp           Jada L. Shipp          0.909091     1.0
951 CameronGTaylor      Cameron Taylor         1.000000     1.0
952 aleclhartman        Alec Hartman           1.000000     1.0
953 nickjoseph210       Nick Joseph            0.636364     0.0
954 brandireger         Brandi Reger           1.000000     0.8
955 davidwederstrandtsr David Wederstrandt Sr  0.818182     0.8
956 jiangyipeng718      Yipeng Jiang           1.000000     1.0
957 yvonneking1         Yvonne King            1.000000     1.0