# Stats Quiz scratchpad

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
np.random.seed(123)

## Question 1

There's 10% chance of survey response.

Of 619 customers, what's the % of 70 or more people taking the survey?

P(greater than x) is survival function

P(greater than or equal to x) is survival function of (x - 1)

In [2]:
# Option 1
n_surveys = 619
p_survey = 0.1

stats.binom(619, .1).sf(69)

0.154317732281241

In [3]:
# Option 2
# What if you forgot all the distribution functions?
# That's right, crank out a simulation!

n_trials = 100_000
n_surveys = 619

surveys = np.random.choice([0, 1], p=[0.9, 0.1], size=(n_trials, n_surveys))
surveys = pd.DataFrame(surveys)
surveys.head()

,0,1,2,3,4,5,6,7,8,9,...,609,610,611,612,613,614,615,616,617,618
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,1
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0

In [4]:
surveys['n_surveys'] = surveys.sum(axis=1)
surveys.head()

,0,1,2,3,4,5,6,7,8,9,...,610,611,612,613,614,615,616,617,618,n_surveys
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,1,64
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,67
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,63
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,51
4,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,65

In [5]:
(surveys.n_surveys >= 70).mean()

0.15237

## Question 2

Probability mass function is the funciton that gives the p(specific outcome) of a discrete random variable

## Question 3

Which distribution best represents choosing a data science student at random to give a presentation?

Uniform since the probabilities are equally likely

## Question 4
What kind of distribution best represents pots of coffee per day brewed on average?

Poisson

## Question 5

Which distribution best represents the number of students in a class of 20 that will arrive on time to the classroom after a break if we know that there is a 90% chance a given student will arrive on time?

Binomial, since it's a binary outcome

## Question 6
We want to see if the web dev students are significantly younger than the data science students. What type of test would you use?

2 sample since we're comparing two populations

1 tail since we're measuring p(x greater than y)

## Question 7

(continuing the scenario...) We want to see if the web dev students are significantly younger than the data science students. What is your null hypothesis?

Our null hypothesis = web_dev ages are >= data science ages

## Question 8
(continuing the scenario...) We want to see if the web dev students are significantly younger than the data science students. What is your alternative hypothesis?

web dev ages < data science ages

## Question 9
(continuing the scenario...) We want to see if the web dev students are significantly younger than the data science students. What 3 primary assumptions are you making of the data when running this test?

1. The data follows the normal probability distribution. (normal-ish)
2. The variances of the two populations are equal.
3. The two samples are independent. There is no relationship between the individuals in one sample as compared to the other.

## Question 10

(continuing the scenario...) We want to see if the web dev students are significantly younger than the data science students. What 2 statistics do we use from our hypothesis test to come to a conclusion? Select 2.

1. P value to measure how rediculous the null hypothesis is
2. T-statistic to measure direction

## Question 11
Codeup wants to know if there is a difference in the proportion of students who hold bachelors degrees web dev to data science students. What test could we use to answer that question?

The magic word is "proportion", so $\chi^2$

## Question 12
(continuing the scenario...) Codeup wants to know if there is a difference in the proportion of students who hold bachelors degrees web dev to data science students. What term best describes the error made when we conclude that having a bachelor's degree is independent of class, but as we collect more data, we find our conclusion was incorrect?

- Believing

- Remind people of the Boy Who Cried Wolf
- The type 1 errors go in order.
- From the villager's standpoint, the null hypothesis is there's no wolf.
- Boy cries wolf, so villagers buy into the alternative hypothesis (Type 1)
- After some false alarms, the villagers finally buy into only the null hypothesis, that's Type 2

## Question 13

Assume that the time it takes to order and eat the burger special at the Esquire is normally distributed with a mean of 40 minutes and a standard deviation of 15 minutes. If it takes 5 minutes to walk from Codeup to the restaurant, what is the likelihood that you can go eat at The Esquire during your lunch hour and not be late back to class?

One option is to answer w/ a probability distribution and function

Another option is to run a simulation.

In [6]:
lunch_time = 60
commute_time = 10
time_to_eat = lunch_time - commute_time
time_to_eat

50

### Option 1 is to use .cdf since we have the value (time to eat) and need the probability

In [9]:
# Less than or equal to, if we have the value = .cdf
stats.norm(mean, std).cdf(time_to_eat)

0.7475074624530771

### Option 2 is to run a simulation

In [8]:
# Normal distribution
mean = 40
std = 15

lunch_times = stats.norm(mean, std).rvs(100_000)
lunch_times

array([45.12538989, 24.4429887 , 47.77461517, ..., 54.54106495,
       49.27494155, 44.01011631])

In [10]:
(lunch_times <= time_to_eat).mean()

0.74848